*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

/* Utilities */
.p-8 { padding: .5rem; }
.fxd-column { flex-direction: column; }

.bg-screen { background: #083b4c; }
.bg-square { background: #1389b2; }

.bg-fizz { background: #0bd6a1; }
.bg-buzz { background: #ffd166; }
.bg-fizzbuzz { background: #f0466f; }

.clr-white { color: #ffffff; }
.fsz-48 { font-size: 3rem; line-height: 3.5rem; }

.row { display: flex; flex-wrap: wrap; }
.square { display: inline-flex; align-items: center; justify-content: center; width: 64px; height: 64px; margin: 4px; font-size: 0.875rem; }
